body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none !important;
}

$nav-color: #ffffff;
$custom-grey: #98a4a5;
$contact-color: #dd3c33;

//media-queries for tabs and mobile

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tabs {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin border {
  border: 1px solid lightgray;
}

@mixin button {
  transition: transform 0.8s linear;

  &:hover {
    background-color: #dbe6f1;
    transform: translateX(-7px);
  }
}

// navbar
.nav-menu {
  background-color: $nav-color;

  a {
    text-decoration: none;
    color: rgb(61, 56, 56);
  }

  nav {
    @include mobile {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @include mobile {
    justify-content: space-around;
    width: 100%;
  }

  .d-md-none {
    @include mobile {
      display: none;
    }
  }

  .menu-items {
    @include tabs {
      width: 75%;
      justify-content: space-between;
      padding-left: 5%;
    }
  }

  .fa {
    @include mobile {
      transform: scale(2);
    }

    @include tabs {
      transform: scale(1.7);
    }
  }
}

.left,
.right {
  height: 100vh;
}

.pos {
  margin-top: 3.5em;
}

.mobile-pos {
  @include mobile {
    position: relative;
  }
  @include tabs {
    position: relative;
  }
}

.new-z {
  z-index: 1;
}
