@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

* a {
  text-decoration: none !important;
}

.nav-menu {
  background-color: #ffffff;
}

.nav-menu a {
  text-decoration: none;
  color: #3d3838;
}

.nav-menu a:hover {
  color: #747fe0;
}

@media screen and (max-width: 767px) {
  .nav-menu nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-menu .menu-items {
    width: 75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu .fa {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-menu .fa {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

.nav-menu .left,
.right {
  height: 100vh;
}

.left {
  margin-top: 15%;
  margin-left: 2%;
}

.pos {
  margin-top: 3.5em;
}

@media screen and (max-width: 767px) {
  .mobile-pos {
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-pos {
    position: relative;
  }
}

.new-z {
  z-index: 1;
}

@-webkit-keyframes blink {
  0% {
    background: white;
  }
  50% {
    background: #747fe0;
  }
  100% {
    background: white;
  }
}

.animated {
  margin-left: 2%;
  -webkit-animation: blink 0.8s infinite;
}

.name {
  color: #747fe0;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGithub:hover {
  background-color: #bd3518;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGithub:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #d3d3d3;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.button {
  display: inline-block;
  background: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.button:hover {
  -webkit-box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}

.console {
  height: 75vh;
}
/*# sourceMappingURL=styles.css.map */